<strong>Olá, {{ deliveryman }}</strong>
<p>Você foi alocado para realizar uma entrega e o produto já está disponível para retirada. Confira os detalhes abaixo:
</p>
<p>
  <strong>Produto: </strong> {{ product }} </p> <br />
<strong>Recebedor: </strong> {{ recipient }} </p> <br />
<br />
</p>
