<strong>Olá, {{ deliveryman }}</strong>
<p>Você foi alocado para realizar uma entraga, confira os detalhes abaixo:</p>
<p>
  <strong>ID do pedido: </strong> {{ orderId }} </p> <br />
<strong>Recebedor: </strong> {{ recipient }} </p> <br />
<br />
</p>
